/* CSS for the background*/


/* ########################################### */
/* #                   BACKGROUND            # */
/* ########################################### */

/*  _________________________________________  */
/* |                     WAND                | */
/*  -----------------------------------------  */

.background {
    margin: 0;
    padding: 0;
    width: 100em;
    height: 100em;
    background-image: linear-gradient(to bottom left, #484232, #38332f, #040404 );
    position: absolute;
}

/*  -----------------------------------------  */
                                                                                    /*  berry 1  */
/*  _________________________________________  */
/* |                    TABLE                | */
/*  -----------------------------------------  */

/*  -----------------------------------------  */
                                                                                    /*  berry 1  */


/*  -----------------------------------------  */
                                                                                    /*  berry 1  */


/*  -----------------------------------------  */
                                                                                    /*  berry 1  */


